/* Global styles for a unified look */
body {
    font-family: Arial, sans-serif;
    background: url('../image/cyber1.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    background-color: #28a745; /* Green color */
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #218838; /* Darker green */
}

/* Styles for the login page */
.login-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 50px auto;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="text"], input[type="password"] {
    width: 100%; /* Ensure both fields take full width of the container */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
    transition: border 0.3s;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #28a745; /* Green color */
    outline: none;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #28a745; /* Green color */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838; /* Darker green */
}

/* Styles for the password visibility toggle */
.password-container {
    position: relative;
}

#password {
    width: 100%; /* Adjust width to fit the container */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: #555;
}

.error-message {
    color: #ff0000; /* Red color */
    margin-top: 15px;
    font-size: 14px;
}
